.chess {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.card {
  width: 80%;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  min-height: 250px;
  justify-content: space-between;
}

.card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
  text-align: center;
}

.card h2,
.card p {
  margin: 0;
}

.card-image {
  position: relative;
  right: 0 !important;
  width: 30%;
  max-height: 150px;
  border-radius: 8px;
}

.horse-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  min-width: 60vw;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  height: 500px;
  min-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.horse-details h2 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.horse-details p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 15px;
}

.horse-details img {
  width: 30vw;
  max-width: 100%;
  max-height: 200px;
  border-radius: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    padding: 10px;
    gap: 12px;
    flex-direction: column;
  }

  .card-image {
    width: 60%;
    margin: 0 auto;
  }

  .horse-details {
    width: 80%;
    padding: 15px;
    max-width: none;
    max-height: 90vh; /* <<< EZ A FONTOS */
    margin: 20px auto;
    overflow-y: auto; /* <<< FONTOS, hogy megmaradjon */
  }

  .horse-details img {
    width: 80vw;
    max-height: none;
  }
}
