.nav {
  margin-top: 20px;
  text-decoration: none !important;
  color: black;
  font-weight: bold;
}

.container {
  height: auto;
  padding: 20px;
  display: flex;
  position: relative;
  top: 40%;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white !important;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.form-group input {
  width: 350px;
}
