.signin-container .page-name {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.signin-container .registration-type {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.signin-container .nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.signin-container .container {
  height: auto;
  display: flex;
  position: relative;
  top: 8%;
  right: 25%;
  width: 40vw;
  height: 900px;
  margin-top: 0 !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white !important;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.signin-container .container button {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #2c3e75, #3f5ca3);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signin-container .errors {
  position: relative;
  top: -3%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.signin-container .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.signin-container .logo img {
  width: 100% !important;
  max-width: 450px;
  height: auto;
}

.signin-container .login-input {
  display: flex;
  flex-direction: column;
  left: 0 !important;
  width: 100%;
}

.signin-container .login-input .input-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.signin-container .login-input input {
  width: 100%;
  padding-right: 40px;
}

.signin-container .login-input .password-toggle {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.signin-container .language {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  font-size: large !important;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.signin-container .dropdown-button {
  width: 150px;
  height: 50px;
  display: flex;
  position: relative;
  top: 5px;
  right: 20px !important;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2c3e75, #3f5ca3);
  border-radius: 10px;
  color: white;
  font-size: large !important;
  font-weight: bold;
}

.signin-container .language .dropdown-button .sidebar-link {
  width: 100%;
  display: block;
  text-align: center;
}

.signin-container .dropdown-container ul {
  position: absolute;
  top: 50px;
  right: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.signin-container .dropdown-li {
  display: inline-block;
}

@media (max-width: 768px) {
  .signin-container .container {
    width: 90%;
    left: 45%;

    margin-top: 60px !important;
  }

  .signin-container .login-input .input-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .signin-container .login-input input {
    max-width: 100%;
  }

  .signin-container .login-input .password-toggle {
    top: 30px;
    right: 25px;
  }

  .signin-container .language {
    position: absolute !important;
    width: 100vw;
    top: 0;
    left: 0 !important;
    transform: none !important;
    height: 50px;
    font-size: large !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
  }

  .signin-container .language .dropdown-button {
    position: unset !important;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2c3e75, #3f5ca3);
    border-radius: 10px;
    color: white;
    font-size: large !important;
    font-weight: bold;
  }
  .signin-container .dropdown-container ul {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    position: absolute;
    top: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .signin-container .dropdown-container .dropdown-li {
    width: 200px !important;
    margin: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
  }
}
