.form-container {
  display: flex;
  flex-direction: column;
}

form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  min-height: 100%;
  height: auto;
  margin-top: 10px !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #f9f9f9, #e3e3e3);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list {
  position: relative;
  display: flex;
  align-items: center;
  display: flex;
  width: 99vw;
  background-color: #41465c;
  height: 50px;
  border-radius: 0 !important;
}
.profile {
  position: fixed;
  top: 0;
  right: 2%;
}

@media (max-width: 768px) {
  form {
    width: 90vw;
    height: auto;
  }
}

@media (max-width: 480px) {
  form {
    width: 90vw;
    height: auto;
  }
}
