form {
  border-radius: 0.5rem;
}

.horse-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.horse-info2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}

.horse-info2 .info2-details p {
  text-align: left;
  flex: 1;
  margin: 10px 20px;
}
.horse-info2 .info2-details h2 {
  text-align: left;
  margin: 10px 20px;
}
.horse-info2 .modal-image {
  width: 400px !important;
  height: auto !important;
  margin-left: 20px;
}

.input-group select {
  width: 100% !important;
  height: 60px !important;
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
}

.input-group select option {
  width: 50% !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading-image {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-top: 50px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-centered {
  margin: 0 auto;
  width: 70vw;
  transition: margin-left 0.3s ease;
}

.form-shifted {
  margin-left: 90px;
  width: calc(70vw - 0px);
  transition: margin-left 0.3s ease;
}

.horse-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  height: 100%;
}

.list-button {
  background: none;
  border: none;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.list-button:hover {
  transform: scale(1.2);
}
.ai-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.ai-form input {
  width: 60vw;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  position: relative;
}

.lang {
  position: relative;
  left: 0%;
  width: 100%;
  padding: 10px;
}
.lang select {
  width: 100% !important;
  height: 60px !important;
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
  margin-bottom: 20px !important;
}

.lang select option {
  width: 50%;
}

li {
  list-style: none;
  text-align: left;
}
label,
input {
  display: inline-block;
  vertical-align: left;
  text-align: left;
}
label {
  padding-left: 5px;
  width: 100%;
}

input {
  width: 100vw;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.settings {
  height: 100%;
  width: 75%;
  position: relative;
  top: 20%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errors {
  color: red;
}

.settings-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 30%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.settings-buttons button {
  flex: 1 1 auto;
  padding: 12px;
  margin: 0;
  width: auto;
  height: auto;
}

.modal-image {
  width: 50% !important;
  height: auto !important;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.horse-info {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.horse-info-ai {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.horse-info-ai p {
  flex: 1;
  margin: 10px 20px;
}

.horse-info-ai .modal-image {
  width: 300px !important;
  height: auto !important;
  margin-left: 20px;
}

.horse-info p {
  margin: 10px 20px;
}
.horse-info .modal-image {
  width: 400px !important;
  height: auto !important;
  margin-left: 20px;
}

.horse-name {
  margin: 10px 20px;
  font-size: 3rem;
  font-weight: 700;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.input-group {
  width: 100%;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.input-group input,
label {
  width: 100%;
  padding: 10px;
  position: relative;
  left: 0%;
  margin: 0;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
  width: 100%;
  text-align: left;
}
.settings .input-container .image-component {
  position: absolute;
  right: 20px;
  top: 40% !important;
  transform: translateY(-50%);
  cursor: pointer;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .horse-details {
    padding: 0 15px;
  }

  .ai-form {
    width: 90vw;
  }
  .settings {
    height: 100vh;
    width: 85%;
    top: 15%;
    overflow-y: auto;
  }
  .settings .settings-header {
    padding-top: 300px;
    font-size: 2rem;
  }

  .input-group {
    width: 100%;
    max-width: 90%;
  }

  .form-shifted {
    width: 65% !important;
    margin-left: 120px;
  }
  .form-shifted .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .form-shifted .horse-list-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-shifted .list-header .search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
  }

  .form-shifted .list-header .search-container .search-input {
    width: 100% !important;
    box-sizing: border-box;
  }
  
  .horse-detail-header {
    display: flex;
    flex-direction: column;
  }
  .horse-detail-header .modal-image {
    width: 100% !important;
    height: auto !important;
  }

  .horse-name {
    font-size: 3rem;
  }

  .horse-info {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .horse-info .modal-image {
    width: 300px !important;
    height: auto !important;
    margin-bottom: 0;
  }
  .horse-info p {
    margin: 0 20px;
  }
  .horse-info2 {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .horse-info2 section .modal-image {
    width: 500px !important;
    height: auto !important;
    margin-bottom: 0;
  }
  .horse-details {
    width: 70% !important;
    height: auto;
  }
}

@media (max-width: 768px) {
  .lang,
  .input-group {
    width: 80%;
    padding: 0 1rem;
  }

  .ai-form {
    width: 100%;
  }

  .input-group {
    position: relative;
    left: 0%;
    width: 150%;
    padding: 0;
  }

  .form-centered {
    width: 80vw;
  }
  .form-shifted {
    width: 55% !important;
      margin-left: 85px;
  }
  .horse-info {
    flex-direction: column;
    align-items: center;
  }

  .horse-info .modal-image {
    width: 100% !important;
    height: auto !important;
    margin: 0;
  }

  .horse-info2 {
    flex-direction: column;
    align-items: center;
  }
  .horse-info2 section .modal-image {
    width: 100% !important;
    height: auto !important;
    margin: 0;
  }
  .horse-info2 .info2-details p,
  .horse-info2 .info2-details h2 {
    margin: 10px 0;
    text-align: center;
  }
  .settings {
    width: 70%;
    top: 10%;
  }
  .settings-buttons {
    width: 50%;
    flex-direction: column;
    gap: 10px;
  }

  .card .card-top {
    flex-direction: column;
    align-items: center;
    justify-content: left!important;
  }

  .card .card-top h2{
    width: 100%;
    text-align: left!important;
  }

  .card .card-buttons img{
    width: 50px!important;
    height: 50px!important;
  }
}

@media (max-width:450px) {
  .card .card-buttons img{
    width: 30px!important;
    height: 30px!important;
  }

}
