form {
  border-radius: 0.5rem;
}
.form-centered {
  margin: 0 auto;
  width: 70vw;
  transition: margin-left 0.3s ease;
}

.form-shifted {
  margin-left: 90px;
  width: calc(70vw - 0px);
  transition: margin-left 0.3s ease;
}

.horse-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  height: 100%;
}

.list-button {
  background: none;
  border: none;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.list-button:hover {
  transform: scale(1.2);
}
.ai-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.ai-form input {
  width: 60vw;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  position: relative;
}

.lang {
  position: relative;
  left: 0%;
  width: 100%;
  padding: 10px;
}
.lang select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.lang select option {
  width: 50%;
}

li {
  list-style: none;
  text-align: left;
}
label,
input {
  display: inline-block;
  vertical-align: left;
  text-align: left;
}
label {
  padding-left: 5px;
  width: 100%;
}

input {
  width: 100vw;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.settings {
  height: 100%;
  width: 75%;
  position: relative;
  top: 20%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errors {
  color: red;
}

.settings-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 30%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.settings-buttons button {
  flex: 1 1 auto;
  padding: 12px;
  margin: 0;
  width: auto;
  height: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.input-group {
  width: 100%;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.input-group input,
label {
  width: 100%;
  padding: 10px;
  position: relative;
  left: 0%;
  margin: 0;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
  width: 100%;
  text-align: left;
}
.settings .input-container .image-component {
  position: absolute;
  right: 20px;
  top: 40% !important;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .horse-details {
    padding: 0 15px;
  }

  .ai-form {
    width: 90vw;
  }

  .settings {
    width: 90%;
    padding: 0 10px;
    top: 10%;
  }

  .input-group {
    width: 100%;
    max-width: 90%;
  }

  .settings-buttons {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .form-shifted {
    width: 70% !important;
  }
}

@media (max-width: 768px) {
  .settings,
  .lang,
  .input-group {
    width: 80%;
    padding: 0 1rem;
  }
  .ai-form {
    width: 100%;
  }

  .input-group {
    position: relative;
    left: 0%;
    width: 150%;
    padding: 0;
  }

  .settings-buttons {
    flex-direction: column;
    gap: 10px;
    width: 50%;
    position: relative;
  }

  .settings h2 {
    margin-bottom: 30px;
  }
  .settings-header {
    margin-top: 20px;
  }
  .form-centered {
    width: 80vw;
  }
  .form-shifted {
    width: 50% !important;
  }
}

@media (max-height: 600px) {
  .settings {
    height: 80vh;
    overflow-y: auto;
    padding-top: 250px;
    padding-bottom: 100px;
  }

  .settings h2 {
    margin-top: 60px;
  }

  .settings-buttons {
    position: relative;
    left: 25%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0;
  }
  .form-centered {
    width: 80vw;
  }
  .form-shifted {
    width: 50% !important;
  }
}
